/* reset CSS */
*{
margin:0px;
padding:0px;
box-sizing: border-box;
}

/* css for Nav bar */

header{
    
    background-color: rgb(217, 223, 225);
}



nav{padding: 34px 100px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    
}

.features ul{
    list-style: none;
    display:flex;
    align-items: center;
    gap:33px
}

.features ul li:first-child{
    color:rgb(14, 84, 165);
    font-weight: bold;
}

.right_nav  button:first-child{
    border:1px solid white;
    color:black;
    background-color: white;
    box-shadow: 0px 0px 5px solid white;
    padding:15px 30px;
    border-radius: 22px;
    font-weight: bold;
}

.right_nav button:last-child {
    border: 1px solid white;
    background-color: rgb(39, 111, 193);
    color:white;
    box-shadow: 0px 0px 5px solid  rgb(39, 111, 193);;
    padding: 15px 30px;
    border-radius: 22px;
    font-weight: bold;
}

main{margin-top: 30px;
    display: flex;
    align-items: center;
    gap:60px;
    padding-left: 100px;
}

.left_side h2{
    font-size:50px;
    
}

.left_side h2 span{
    color:rgb(110, 110, 205);
    font-size: 60px;
}

.left_side p{
    color:rgb(71, 68, 68);
    margin:30px 0px;
}

.left_side button{
    border:1px solid navy;
    background-color: rgb(77, 77, 178);
    color:white;
    padding:17px 36px;
    border-radius: 22px;
    font-weight: bold;
}

.left_side button span{
    border:1px solid rgb(151, 96, 151);
    background-color: rgb(151, 96, 151);
    width:20px;
    height: 20px;
    border-radius: 50%;
    font-size: 20px;
    padding:3px 3px
}

.right_side{
    position: relative;
}

.right_side img:first-child {
    width: 650px
}

.right_side img:last-of-type{
position: absolute;
z-index: 100;
left:-19px;
bottom:2px;
}

.right_side_circle{
    position: absolute;
    border:1px solid rgba(10, 134, 134, 0.64);
    border-radius: 50%;
    width:160px;
    height:160px;
    background-color:rgb(61, 61, 169) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right:38px;
    top:262px;
    color:white;
}

.right_side_circle span{
    border: 1px solid rgb(168, 87, 168);
    width:20px;
    height:20px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(138, 93, 138);
}

.main_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px 80px
}

/* CSS code for main2 */


.main2{
    background-color: rgb(92, 92, 203);
    padding-top:100px;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    gap:60px;
    margin-bottom: 30px;
}

.High_Sales h2{
    padding-left:160px;
    font-size:50px;
    width:660px;
}

.High_Sales h2 span{
color:yellow
}

.high_sales_right p{
    font-size: 20px;
width:360px;
font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
color:white
}

.main2 img {
    width:950px;
    margin-left: 160px;

}

.play_button span{
    border:1px solid white;
    padding:15px 15px;
    border-radius: 23px;
background-color: white;
font-size: 22px;
position:absolute;
bottom:150px;
right:50%;
}

/* main3 CSS code */

.main3{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin:40px 150px;
    gap:23px;
    
}

.elements button{
    color:white;
    border:1px solid rgb(93, 93, 193);
    background-color: rgb(96, 96, 207);
    font-size: 17px;
    padding:10px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.elements h2{
    font-size:52px;
    margin-bottom: 30px;
}

.customers , .integration, .problems {
border: 1px solid white;
    box-shadow: 0px 0px 5px rgb(168, 189, 168);
    background-color: rgb(185, 230, 195);

    width:380px;
    padding:28px 30px;
    border-radius: 10px;
    
}

.customers img,.integration img,.problems img{
    margin-bottom:17px
}

.customers h3,.integration h3,.problems h3{
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: bold;
}

.main4{
    display:flex;
    align-items: center;
    gap:110px
}

.main4_left_image img{
    width:560px;
    position:relative;
}

.circle4{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    width:200px;
    height:200px;
    background-color: rgb(19, 19, 110);
    text-align: center;
    margin-top: 30px;
    color:white;
    box-shadow: 0px 0px 5px white;
    position:absolute;
    left:400px;
    bottom:-2170px

/* have to chect this */

}

.circle4 span{
    border:1px solid white;
    border-radius:50%;
    background-color: rgb(20, 124, 121);
    padding:3px 0px;
    margin-bottom: 10px;
}

.circle4 h2{
    font-size:40px;
    font-weight: bold;
}

.main4_right{
    width:520px;

}

.main4_right h2{
    font-size: 54px;
    margin-bottom: 35px;
    }


.main4_right h2 span{
    color:rgb(93, 93, 214);
}  

.main4_right p{
    font-size:22px
}

.main4_right button{
    margin-top:25px;
    color: white;
        border: 1px solid rgb(93, 93, 193);
        background-color: navy;
        font-size: 17px;
        padding: 16px 30px;
        border-radius: 25px;
        
}

.main4_right button span{
    border:1px solid whitesmoke;
    border-radius: 50%;
    padding:3px 4px;
    background-color:rgb(20, 124, 121) ;

}

/* CSS code for left remaining part */

.founder_top{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:150px;
    margin: 110px 0px;
}

.founder_top h2{
    font-size:56px;
    color:navy;
}

.founder_top p{
    color: rgb(101, 95, 95);
    font-size:20px
}

/* CSS code for founder part */

.founder{
    display:flex;
    align-items:center;
    margin-left: 110px;
    
}

.about_founder{margin-bottom: 280px;

width:600px;
}

.about_founder h2{
    font-size:55px;
    margin-bottom: 40px;
}

.about_founder p{
    width:450px;
    font-size:23px;
}

.about_founder p:last-of-type{
    color:navy;
    font-weight: bolder;
    margin-top: 30px;

}

.about_founder p span{
    color:rgb(57, 54, 54)
}

.about_founder button{
    color: white;
        border: 1px solid rgb(93, 93, 193);
        background-color: rgb(19, 19, 152);
        font-size: 17px;
        padding: 20px 35px;
        border-radius: 30px;
        margin-top: 50px;
}

.about_founder button span{
    border: 1px solid whitesmoke;
        border-radius: 50%;
        padding: 3px 4px;
        background-color: rgb(20, 124, 121);
}


.founder_image{
    position: relative;
}
.founder_image img:first-child{
    width:700px;
   
}

.founder_image img:last-child{
position: absolute;
top:390px;
left:-20px
}

.believe_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 50px 90px;
}

.container2{
background-color: rgb(174, 203, 229);

}

.believe_left h1{
    font-size:60px
}

.believe_left button{
    border: transparent;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

.card{
    display:flex;
    align-items: flex-start;
    gap:40px;
margin-left: 100px;
padding-bottom: 50px;
}

.left_card{
    width:470px;
    border:1px solid whitesmoke;
    background-color: white;
    border-radius:10px;
    box-shadow: 0px 0px 5px rgb(131, 169, 184);
    padding:40px 20px;
    
}

.left_card >p{
    font-size:20px;
    padding-bottom: 10px;
}

.managing_director{

    display:flex;
    align-items:center;
    gap:20px
}

.director_details>p {
    font-size: 16px;
    font-weight: bold;
}

.director_details>p span{
    color:rgb(85, 78, 78);
}

.right_card >p{
    font-size: 20px;
    padding-bottom: 31px;
}

.right_card {
    width: 470px;
    border: 1px solid whitesmoke;
    background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgb(131, 169, 184);
        padding: 40px 20px
}

.marketing_director{
    display: flex;
    align-items: center;
    gap:20px;
}

.marketing_dir_details >p{
    font-size: 16px;
        font-weight: bold;
}

.marketing_dir_details >p span{
    color: rgb(85, 78, 78);
}

/* Code for what's new on trustco? */

.new_on{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 66px 90px;
}

.new_on h1 {
    font-size: 60px;
}

.new_on button {
    border: transparent;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

.new_on h1 span{
    color:rgb(64, 64, 173)
}

.whats_new{
    display:flex;
    align-items:center;
    margin: 0px 100px;
    gap:20px;
margin-bottom: 24px;
}

.card_image_1{
    border:1px solid whitesmoke;
box-shadow: 0px 0px 5px gray;
border-radius: 5px;
margin-bottom: 80px;
}

.card_image_1 img{
    margin-bottom:10px;
}

.card_image_1  h2,p{
    padding:6px 22px
}

.card_image_1  button{
    margin-left: 22px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding-bottom: 20px;
}

.card_image_2{
    border:1px solid whitesmoke;
box-shadow: 0px 0px 5px gray;
border-radius: 5px;
margin-bottom: 80px;
}

.card_image_2 img{
    margin-bottom:10px;
}

.card_image_2  h2,p{
    padding:6px 22px
}

.card_image_2  button{
    margin-left: 22px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding-bottom: 20px;
    color:navy
}

.card_image_3{
    border:1px solid whitesmoke;
box-shadow: 0px 0px 5px gray;
border-radius: 5px;
margin-bottom: 80px;
}

.card_image_3 img{
    margin-bottom:10px;
}

.card_image_3  h2,p{
    padding:6px 22px
}

.card_image_3  button{
    margin-left: 22px;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding-bottom: 20px;
}

/* Code forCustomer Service part  */

.customer_service{
    display:flex;
    align-items: center;
    gap:30px;
    background-color:rgb(5, 5, 42);
    color: white;
    padding:94px;
}

.customer_service_left h1{
    color:white;
    font-size:50px;
    margin-bottom: 50px;
    
}

.customer_service_left button{
    border:1px solid yellow;
    padding:10px 20px;
    background-color: rgb(183, 147, 17);
    color:white;
    font-weight: bold;
    border-radius: 22px;
    font-size: 17px;
margin-bottom: 20px;
}

.customer_service_left button span{
    border:1px solid slategray;
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color: rgb(87, 128, 128);
    padding:3px 3px;
    box-shadow: 0px 0px 6px blue;
}

.customer_service_left  p{
    font-size:20px;
}

.customer_service_right{
    position:relative;

}

.customer_service_right img:first-child{
width:600px;

}

/* .customer_service_right img:last-of-type{
    position: absolute;
    right:5px;
    background-color: transparent;
} */


/* CSS Code for last section */

.last_section{
    display: flex;
    align-items: center;
    padding:60px 80px ;
    align-items:flex-start;
gap:70px;
}

.last_section i{
    padding-top:40px;
    font-size:35px;
    margin:0px 10px;
}

.last_section_para{
    font-size: 20px;
    width:400px;
    color:rgb(51, 52, 53)
}

.last_section_home ul{
list-style: none;
color: rgb(51, 52, 53)
}

.last_section_home ul li:first-of-type{
font-size: 25px;
color: black;
font-weight: bold;
margin-bottom: 30px;
}

.last_section_about ul {
    list-style: none;
    color:rgb(51, 52, 53)
}

.last_section_about ul li:first-of-type {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
}

.last_section_home ul li{
    margin-bottom:19px;
    font-size: 20px;
}

.last_section_about ul li {
    margin-bottom: 19px;
    font-size: 20px;
}

/* Footer CSS code */



footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
background-color: lightsteelblue;
    padding: 10px 90px;
   
}

.medium{
    
}

.medium ul{
    display: flex;
        align-items: center;
        gap: 40px;
    list-style: none;
}

.copyright span i{
    font-size: 20px;
}